*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: 0;
    appearance: none;
    border: 0;
}
/* Công thức màu */
:root
{
    --color-black : #21242b;
    --color-green :  #00FFAB;
    --color-dark-green : #064635;
    --color-white : #fff;
    --color-siver : rgb(220, 220, 220);
}
html
{
    font-size: 14px;
    scroll-behavior: smooth;
}
body
{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-black);
    font-size: 0.88rem;
}
h1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.125rem;
    font-weight: 500;
}
h2
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.75rem;
    font-weight: 400;
    color: var(--color-white);
}
/* ------------------ Menu ---------------------- */
.header
{
    width: 100%;
    height: 5rem;
    display: flex;
}
.logo
{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-header
{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.icon-header ion-icon
{
    font-size: 1.875rem;
    padding: 7px 7px;
    transition: 0.5s;
}
.icon-header ion-icon:hover
{
    color: var(--color-green);
}
header
{
    width: 100%;
    height: 3.125rem;
    background: var(--color-dark-green);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li 
{
    padding: 0 2.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    align-items: center;
}
header ul li a
{
    display: flex;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-white);
    position: relative;
    padding:0.4rem 0.2rem ;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    transition: 3s;
}
header ul li a::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background: var(--color-white);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
header ul li a::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 2px;
    background: var(--color-white);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
header ul li a:hover::before
{
    right: 0;
}
header ul li a:hover::after
{
    left: 0;
}
.menu-mobile
{
    display: none;
}
.menu-child
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.125rem;
    height: 3.125rem;
    color: var(--color-black);
    font-size: 1.875rem;
}
/* ------------------ footer ------------------  */
.infomation_person
{
    width: 100%;
    background: #ededed;
    height: 58vh;
    display: inline-block;
}
.infomation_person .title
{
    width: 100%;
    height: 190px;
    background: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.infomation_person .title h1
{
    color: var(--color-black);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-top: 9.375rem;
}
.email
{
    width: 100%;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    background: #ededed;
}
.email input
{
    width: 26.875rem;
    height: 2.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--color-black);
    background: none;
    text-align: center;
    font-family: monospace;
    font-size: 1rem;
}
.email input::placeholder
{
    text-align: center;
    position: relative;
    top: 0.3125rem;
}
.buton
{
    width: 100%;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    background: #ededed;
}
.buton button
{
    width: 10rem;
    height: 3rem;
    margin-top: 20px;
    border: none;
    background: var(--color-black);
    color: var(--color-white);
    font-family: monospace;
    font-size: 1.125rem;
    transition: 0.5s;
}
.buton button:hover
{
    transform: scale(1.1);
    background: var(--color-dark-green);
    color: var(--color-white);
}
.icon
{
    position: relative;
    top: -2.5rem;
    width: 100%;
    height: 7.5625rem;
    background: #ededed;
}
.icon ul
{
    display: flex;
    justify-content: center;
    margin-left: 0.9375rem;
    margin-top: 2.5rem;
    position: relative;
    top: 5rem;
}
.icon ul li
{
    list-style: none;
}
.icon ul li ion-icon
{
    font-size: 1.375rem;
    margin-left: 1.25rem;
    color:var(--color-black);
    transition: 0.5s;
    position: relative;
    bottom: 2.5rem;
    right: 1rem;
}
.icon ul li ion-icon:hover
{
    color: var(--color-dark-green);
    transform: scale(1.2);
}
.coating
{
    width: 100%;
    height: 40vh;
    background: var(--color-dark-green);
    display: flex;
    justify-content: center;
}
.coating .coat_one
{
    width: 20%;
    height: 70%;
    margin-top: 4.375rem;
    display: flex;
    justify-content: center;
}
.coating .coat_one h1
{
    margin-top: 6.25rem;
    color: var(--color-white);
    letter-spacing: 0.0625rem;
    font-size: 3.125rem;
    text-align: center;
}
.coating .coat_one p
{
    font-size: 0.875rem;
}
.coating .coat_two
{
    width: 70%;
    height: 70%;
    margin-top: 4.375rem;
    display: flex;
    justify-content: center;
}
.coating .coat_two .flix
{
    width: 30%;
    height: 100%;
    margin-left: 0.625rem;
}
.coating .coat_two .flix article
{
    color: var(--color-white);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 1.875rem;
}
.coating .coat_two .flix p
{
    color: var(--color-white);
    margin-top: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.875rem;
}
/* <!-- ------------------------- Title website ------------------  --> */
.title-website
{
    width: 100%;
    height: 6rem;
    background: url(../image/back.jpg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box-title-website
{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-title-website h3
{
    color: var(--color-dark-green);
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}




@media only screen and (max-width : 46.1875em)
{
    .header
    {
        position: fixed;
        background: var(--color-white);
        z-index: 1;
    }
    header
    {
        display: none;
    }
    .menu-mobile
    {
        display: block;
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* margin-right: 1.875rem; */
    }
    .sl-menu
    {
        display: none;
    }
    .infomation_person
    {
        margin-top: 55rem;
    }
    .coating
    {
        display: none;
    }
    .title-website
    {
        position: relative;
        top: 5rem;
    }
}


/* Table >= 740px and width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) 
{
    .header
    {
        position: fixed;
        background: var(--color-white);
        z-index: 1;
    }
    header 
    {
        display: none;
    }   
    .menu-mobile
    {
        display: block;
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* margin-right: 1.875rem; */
    }
    .sl-menu
    {
        display: none;
    }
    .infomation_person
    {
        margin-top: 25rem;
    }
    .title-website
    {
        position: relative;
        top: 5rem;
    }
}


/* ------------------ màu dùng trong web --------------- */
:root
{
    --color-black : #21242b;
    --color-green :  #00FFAB;
    --color-dark-green : #064635;
    --color-white : #fff;
    --color-siver : rgb(220, 220, 220);
    --shadow : rgba(0,0,0,0.15);
}
/* ------------ banner------------------------ */
.banner
{
    width: 100%;
    height: 80vh;
    background-image: url(./index/image/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.tilte-in-banner
{
    width: 100%;
    height: 70%;
}
.title-in-banner-text
{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-in-banner-text h1
{
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
    font-size: 3.5rem;
}
.title-in-banner-text a
{
    padding: 0.9375rem 2.5rem;
    border: 2px solid var(--color-white) ;
    color: var(--color-white);
    font-size: 1rem;
    margin-top: 3.125rem;
    transition: 0.5s;
}
.title-in-banner-text a:hover
{
    background: var(--color-white);
    color: var(--color-black);
}
.Category
{
    width: 100%;
    height: 180vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.25rem;
    flex-wrap: wrap;
}
.Category-gender
{
    width: 20rem;
    height: 30.125rem;
}
.Category-gender-image
{
    height: 85%;
    overflow: hidden;
    width: 100%;
}

.Category-gender img
{
    width: 100%;
    transition: 0.5s;
}
.Category-gender img:hover
{
    transform: scale(1.1);
    filter: brightness(80%);
}
.Category-gender-name
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}
.Category-gender-name a
{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-black);
    padding: 0.3125rem 1.25rem;
    border: 2px solid var(--color-black) ;
    transition: 0.5s;
}
.Category-gender-name a:hover
{
    background: var(--color-black);
    color: var(--color-green);
} 
/* ------------------- Sản phẩm mới --------------  */

.banner-product-new
{
    width: 100%;
    height: 30%;
    background-image: url(./index/image/parallax.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 12.5rem;
}
.banner-product-new-title
{
    width: 100%;
    height: 12.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#extra-text
{
    font-size: 2.125rem;
}
.banner-product-new-title h2
{
    transform: translateX(6.25rem);
    animation: animate 15s linear infinite;
}
@keyframes animate
{
    from
    {
    transform: translateX(6.25rem);
    }
    to 
    {
        transform: translateX(12.5rem);
    }
}
/* ------------------- Sản phẩm -----------------  */
.product
    {
        width: 100%;
        height: 34.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 12.5rem;
        gap: 15rem;
        flex-wrap: wrap;
    }
    .card
    {
        width: 18.75rem;
        height: 25rem;
        position: relative;
        transform-style: preserve-3d;
        transform: perspective(125rem);
        transition: 1s;
        box-shadow: inset 18.75rem 0 3.125rem var(--shadow) ,0 1.25rem 1.25rem var(--shadow);
    }
    .card:hover
    {
        transform: perspective(125rem) translateX(50%);
        transition: 1s;
        box-shadow: inset 1.25rem 0 3.125rem var(--shadow),0 0.625rem 0.625rem var(--shadow);
    }
    .card .cover
    {
        position: relative;
        width: 100%;
        height: 100%;
        background: var(--color-black);
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        overflow: hidden;
        transition: 1s ease-in-out;
        transform-origin: left;
    }
    .card:hover .cover
    {
        transform: rotateY(-180deg);
    }
    .card .cover img
    {
        max-width: 100%;
        z-index: 1;
    }
    .card .cover::before
    {
        content: "";
        position: absolute;
        width: 0.625rem;
        height: 150%;
        background: var(--color-black);
        transform: rotate(36.5deg);
        box-shadow: 0 0 0 1.25rem var(--color-green);
        transition: 0.5s;
        transition-delay: 1s;
    }
    .card:hover .cover::before
    {
        width: 0;
        box-shadow: 0 0 0 15.625rem var(--color-green);
        transform: rotate(143.5deg);
    }
    .card .details
    {
        width: 100%;
        height: 100%;
        display: flex;
        background: var(--color-black);
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-align: center;position: relative;
        top: -25rem;
    }
    .card .details h3
    {
        font-weight: 200;
        margin: 0.3125rem 0;
        color: var(--color-white);
        text-transform: uppercase;
    }
    .card .details h2
    {
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: #e82a5b;
    }
    .card .details  a
    {
        display: inline-block;
        padding: 8px 20px;
        background: var(--color-green);
        color: var(--color-black);
        margin-top: 0.3125rem;
        letter-spacing: 0.0625rem;
        border-radius: 1.5625rem;
        text-decoration: none;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        transition: 0.5s;
    }
    .card .details  a:hover
    {
        background: var(--color-white);
        color: var(--color-dark-green);
    }
/* ----------------------- banner thông số --------------------  */
.banner-parameter
{
    width: 100%;
    height: 55vh;
    background-image: url(./index/image/parallax2.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: animate ;
}
.banner-parameter h2
{
    transform: translateX(6.25rem);
    animation: animate 15s linear infinite;
}
/* --------------------- Chạy thông số --------------------  */
.clip
    {
        width: 100%;
        height: 34.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wapper
    {
        display: flex;
        justify-content:center;
        gap: 1rem;
        width: 80%;
        height: 36.4%;
        flex-wrap: wrap;
        align-items: center;
    }
    .listerner
    {
        width: 28vmin;
        height: 28vmin;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
        position: relative;
        font-size: 1.125rem;
        border-radius: 0.5em;
        background-color: var(--color-black);
        border-bottom: 10px solid var(--color-green);
    }
    .listerner ion-icon
    {
        color: var(--color-green);
        font-size: 2.5em;
        text-align: center;
        position: relative;
        top: -1.25rem;
    }
    .listerner span.num
    {
        color: var(--color-white);
        display: grid;
        place-items: center;
        font-weight: 600;
        font-size: 3em;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        top: -0.9375rem;
    }
    .listerner span.text
    {
        color: var(--color-white);
        font-size: 1.1em;
        text-align: center;
        pad: 0.7em 0;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 0;
    }
/* ------------------------------ Tin tức ----------------------  */
.news-gioia
{
    width: 100%;
    height: 50vh;
    background-image: url(./index/image/parallax3.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.news-gioia h2
{
    transform: translateX(6.25rem);
    animation: animate 15s linear infinite;
}
/* -------------------------- Tin tức ------------------  */
.fashion_week
    {
        width: 100%;
        height: 40.625rem;
        display: flex;
        justify-content: center;
        background: var(--color-white);
    }
    .infomation
    {
        width: 80%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 8rem;
    }
    .box_size
    {
        position: relative;
        width: 18.75rem;
        height: 25rem;
        box-shadow: 0 30px 30px rgba(0,0,0,.5);
    }
    .box_size .imgBX
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .box_size .imgBX img
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
        border-radius: 0.3125rem;
    }
    .box_size:hover .imgBX img
    {
        opacity: 0;
    }
    .box_size .content
    {
        position: absolute;
        bottom: 1.25rem;
        left: 10%;
        width: 80%;
        height: 3.125rem;
        background: var(--color-black);
        transition: 0.5s;
        overflow: hidden;
        padding: 0.9375rem;
        border-radius: 0.3125rem;
        box-sizing: border-box;
    }
    .box_size:hover .content
    {
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;     
    }
    .box_size .content h3
    {
        margin: 0;
        color: var(--color-green);
        padding: 0;
        font-size: 1.25rem;
        font-weight: 200;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
    .box_size .content p
    {
        margin: 1.25rem 0 0;
        padding: 0;
        opacity: 0;
        line-height: 1.2em;
        font-size: 1rem;
        transition: 0.5s;
        text-align: justify;
        color: var(--color-white);
        font-family: Arial, Helvetica, sans-serif;
    }
    .box_size .content a
    {
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        top: 2.5rem;
        font-size: 1rem;
        padding: 0.625rem 1.25rem;
        background: var(--color-white);
        color: var(--color-dark-green);
        transition: 0.5s;
        opacity: 0;
    }
    .box_size .content a:hover
    {
        background: var(--color-green);
        color: var(--color-black);
    }
    .box_size:hover .content p
    {
        opacity: 1;
        transition-delay: 0.5s;
    }
    .box_size:hover .content a
    {
        opacity: 1;
        transition-delay: 0.5s;
    }







    /* Mobile < 740px */
    @media only screen and (max-width : 46.1875em)
    {
        .banner
        {
            background-position-x: -18.75rem ;
        }
        .title-in-banner-text h1
        {
            font-size: 2.8125rem;
        }
        .title-in-banner-text
        {
            width: 100%;
        }
        .Category
        {
            margin-top: 5rem;
        }
        .banner-product-new-title h2
        {
            animation: none;
            text-align: center;
            font-size: 2.1875rem;
            transform: translateX(30px);
        }
        #extra-text
        {
            font-size: 1.375rem;
        }
        .banner-product-new
        {
            bottom: 0px;
        }
        .product
        {
            position: relative;
            top: 53rem;
        }
        .card .cover
        {
            display: none;
        }
        .card .details
        {
            top: 0rem;
        }
        .card:hover
        {
           transform:  translateX(0%);
        }
        #cart-two
        {
            top: -10rem;
        }
        .banner-parameter
        {
            position: relative;
            top: 80rem;
        }
        .banner-parameter h2
        {
            animation: none;
            text-align: center;
            font-size: 2.1875rem;
            transform: translateX(30px);
        }
        .clip
        {
            position: relative;
            top: 75rem;
        }
        .wapper
        {
            gap: 3rem;
        }
        .listerner ion-icon
        {
            font-size: 2em;
        }
        .listerner span.num
        {
            font-size: 2em;
        }
        .news-gioia
        {
            margin-top: 80rem;
        }
        .news-gioia h2
        {
            animation: none;
            text-align: center;
            font-size: 2.1875rem;
            transform: translateX(40px);
        }
        .fashion_week
        {
            margin-top: 10rem;
        }
    }
    /* Table >= 740px and width < 1024px*/
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) 
    {
        .Category
        {
            margin-top: 5rem;
        }
        .banner-product-new
        {
            bottom: 3.125rem;
        }
        .product
        {
            position: relative;
            top: 10rem;
        }
        .card .cover
        {
            display: none;
        }
        .card .details
        {
            top: 0rem;
        }
        .card:hover
        {
           transform:  translateX(0%);
        }
        .banner-parameter
        {
            position: relative;
            top: 15rem;
        }
        .clip
        {
            position: relative;
            top: 10rem;
        }
        .wapper
        {
            gap: 3rem;
        }
        .news-gioia
        {
            margin-top: 22rem;
        }
        .fashion_week
        {
            margin-top: 10rem;
        }
    }